nodered/flows.json
[
  {
    "id": "tab_pump_demo",
    "type": "tab",
    "label": "Pump IoT Demo",
    "disabled": false,
    "info": "Predictive Maintenance - Industrial Pump Demo"
  },
  {
    "id": "mqtt_in",
    "type": "mqtt in",
    "z": "tab_pump_demo",
    "name": "Subscribe pump/sensors",
    "topic": "pump/sensors",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": false,
    "rh": 0,
    "x": 120,
    "y": 80,
    "wires": [
      [
        "parse_validate"
      ]
    ]
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "Local Mosquitto",
    "broker": "localhost",
    "port": "1883",
    "clientid": "nodered-pump",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  },
  {
    "id": "parse_validate",
    "type": "function",
    "z": "tab_pump_demo",
    "name": "Parse & Validate",
    "func": "// Validate payload structure\nconst payload = msg.payload;\nif (!payload || !payload.sensors || !payload.machine_status) {\n    node.warn('Invalid payload, skipping');\n    return null;\n}\n\n// Enrich with received timestamp\nmsg.payload.received_at = new Date().toISOString();\nmsg.payload.row = payload.row || 0;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 80,
    "wires": [
      [
        "rolling_buffer"
      ]
    ]
  },
  {
    "id": "rolling_buffer",
    "type": "function",
    "z": "tab_pump_demo",
    "name": "Rolling Buffer (60 readings)",
    "func": "// Maintain rolling buffer of last 60 readings\nconst BUFFER_SIZE = 60;\nconst SENSOR_GROUPS = ['vibration', 'temperature', 'pressure', 'flow_rate'];\n\nif (!context.get('buffer')) {\n    context.set('buffer', []);\n}\n\nlet buffer = context.get('buffer');\nbuffer.push(msg.payload);\n\nif (buffer.length > BUFFER_SIZE) {\n    buffer = buffer.slice(-BUFFER_SIZE);\n}\n\ncontext.set('buffer', buffer);\n\n// Need at least 5 readings for trend calc\nif (buffer.length < 5) {\n    return null;\n}\n\nmsg.payload.buffer_size = buffer.length;\nmsg.payload.buffer = buffer;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 80,
    "wires": [
      [
        "compute_trends"
      ]
    ]
  },
  {
    "id": "compute_trends",
    "type": "function",
    "z": "tab_pump_demo",
    "name": "Compute Trends & Stats",
    "func": "const buffer = msg.payload.buffer;\nconst SENSOR_GROUPS = ['vibration', 'temperature', 'pressure', 'flow_rate'];\n\nfunction extractSeries(buf, group) {\n    return buf.map(r => r.sensors[group] || 0);\n}\n\nfunction rollingAvg(arr) {\n    return arr.reduce((a, b) => a + b, 0) / arr.length;\n}\n\nfunction linearSlope(arr) {\n    const n = arr.length;\n    if (n < 2) return 0;\n    const xMean = (n - 1) / 2;\n    const yMean = rollingAvg(arr);\n    let num = 0, den = 0;\n    for (let i = 0; i < n; i++) {\n        num += (i - xMean) * (arr[i] - yMean);\n        den += (i - xMean) ** 2;\n    }\n    return den > 0 ? num / den : 0;\n}\n\nfunction rateOfChange(arr) {\n    if (arr.length < 2) return 0;\n    return arr[arr.length - 1] - arr[arr.length - 2];\n}\n\nfunction stdDev(arr) {\n    const mean = rollingAvg(arr);\n    const variance = arr.reduce((sum, v) => sum + (v - mean) ** 2, 0) / arr.length;\n    return Math.sqrt(variance);\n}\n\nconst trends = {};\nconst thresholds = {\n    vibration:   { warning: 4.5, critical: 7.0, normal_min: 0,   normal_max: 4.5,  invert: false },\n    temperature: { warning: 85,  critical: 95,  normal_min: 60,  normal_max: 85,   invert: false },\n    pressure:    { warning: 8.5, critical: 10,  normal_min: 4,   normal_max: 8.5,  invert: false },\n    flow_rate:   { warning: 110, critical: 90,  normal_min: 120, normal_max: 200,  invert: true  },\n};\n\nfor (const group of SENSOR_GROUPS) {\n    const series = extractSeries(buffer, group);\n    const t = thresholds[group];\n    const current = series[series.length - 1];\n    const avg = rollingAvg(series);\n    const slope = linearSlope(series);\n    const roc = rateOfChange(series);\n    const std = stdDev(series);\n\n    // Status assessment\n    let status = 'NORMAL';\n    if (t.invert) {\n        if (current <= t.critical) status = 'CRITICAL';\n        else if (current <= t.warning) status = 'WARNING';\n    } else {\n        if (current >= t.critical) status = 'CRITICAL';\n        else if (current >= t.warning) status = 'WARNING';\n    }\n\n    // Trend direction\n    const trending = t.invert\n        ? (slope < -0.05 ? 'DEGRADING' : slope > 0.05 ? 'IMPROVING' : 'STABLE')\n        : (slope > 0.05  ? 'DEGRADING' : slope < -0.05 ? 'IMPROVING' : 'STABLE');\n\n    trends[group] = {\n        current: Math.round(current * 100) / 100,\n        avg_60: Math.round(avg * 100) / 100,\n        slope: Math.round(slope * 10000) / 10000,\n        rate_of_change: Math.round(roc * 1000) / 1000,\n        std_dev: Math.round(std * 1000) / 1000,\n        status,\n        trending,\n        history: series.slice(-20), // last 20 for sparkline\n    };\n}\n\n// Overall machine assessment\nconst critical_count = Object.values(trends).filter(t => t.status === 'CRITICAL').length;\nconst warning_count  = Object.values(trends).filter(t => t.status === 'WARNING').length;\nconst degrading_count = Object.values(trends).filter(t => t.trending === 'DEGRADING').length;\n\nlet overall_status = 'NORMAL';\nif (critical_count >= 1) overall_status = 'CRITICAL';\nelse if (warning_count >= 2 || (warning_count >= 1 && degrading_count >= 2)) overall_status = 'WARNING';\n\nmsg.payload.trends = trends;\nmsg.payload.overall_status = overall_status;\nmsg.payload.anomaly_detected = overall_status !== 'NORMAL';\n\n// Remove buffer from payload (too large for forwarding)\ndelete msg.payload.buffer;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 790,
    "y": 80,
    "wires": [
      [
        "route_normal",
        "route_anomaly"
      ]
    ]
  },
  {
    "id": "route_normal",
    "type": "switch",
    "z": "tab_pump_demo",
    "name": "If NORMAL",
    "property": "payload.overall_status",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "NORMAL",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1030,
    "y": 40,
    "wires": [
      [
        "debug_normal"
      ]
    ]
  },
  {
    "id": "route_anomaly",
    "type": "switch",
    "z": "tab_pump_demo",
    "name": "If WARNING or CRITICAL",
    "property": "payload.anomaly_detected",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1060,
    "y": 120,
    "wires": [
      [
        "throttle_ai"
      ]
    ]
  },
  {
    "id": "debug_normal",
    "type": "debug",
    "z": "tab_pump_demo",
    "name": "Normal readings",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload.machine_status",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1270,
    "y": 40,
    "wires": []
  },
  {
    "id": "throttle_ai",
    "type": "delay",
    "z": "tab_pump_demo",
    "name": "Throttle AI calls (max 1/10s)",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "10",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "allowrate": false,
    "outputs": 1,
    "x": 1090,
    "y": 180,
    "wires": [
      [
        "prepare_ai_payload"
      ]
    ]
  },
  {
    "id": "prepare_ai_payload",
    "type": "function",
    "z": "tab_pump_demo",
    "name": "Build AI Prompt Payload",
    "func": "// Prepare compact snapshot for Claude/AI API\nconst p = msg.payload;\n\nconst snapshot = {\n    timestamp: p.ts,\n    machine_status: p.machine_status,\n    health_score: p.health_score,\n    overall_status: p.overall_status,\n    sensors: {}\n};\n\nfor (const [group, trend] of Object.entries(p.trends)) {\n    snapshot.sensors[group] = {\n        current: trend.current,\n        avg_60_readings: trend.avg_60,\n        trend: trend.trending,\n        status: trend.status,\n        rate_of_change: trend.rate_of_change,\n    };\n}\n\nmsg.payload = {\n    snapshot,\n    raw_payload: p,\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1090,
    "y": 240,
    "wires": [
      [
        "call_ai_api"
      ]
    ]
  },
  {
    "id": "call_ai_api",
    "type": "http request",
    "z": "tab_pump_demo",
    "name": "POST \u2192 AI Backend /analyze",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:8000/analyze",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [
      {
        "keyType": "str",
        "keyValue": "Content-Type",
        "valueType": "str",
        "valueValue": "application/json"
      }
    ],
    "x": 1100,
    "y": 300,
    "wires": [
      [
        "process_ai_response"
      ]
    ]
  },
  {
    "id": "process_ai_response",
    "type": "function",
    "z": "tab_pump_demo",
    "name": "Process AI Response",
    "func": "if (msg.statusCode !== 200) {\n    node.warn('AI API error: ' + msg.statusCode);\n    return null;\n}\n\nconst ai = msg.payload;\n\n// Forward to WebSocket for dashboard\nmsg.topic = 'ai_recommendation';\nmsg.payload = {\n    type: 'ai_recommendation',\n    ...ai,\n    received_at: new Date().toISOString(),\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1100,
    "y": 360,
    "wires": [
      [
        "debug_ai"
      ]
    ]
  },
  {
    "id": "debug_ai",
    "type": "debug",
    "z": "tab_pump_demo",
    "name": "AI Recommendations",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1320,
    "y": 300,
    "wires": []
  }
]